body {
    background-color: #ffffff;
}

.container {

}

.ui-widget {
    font-size: 12px !important;
}

.taks-running {
    background-color: #a9dba9 !important;
    background-image: none !important;
}