body {
    background-color: #ffffff;
}

.container {

}

.ui-widget {
    font-size: 12px !important;
}

.taks-running {
    background-color: #a9dba9 !important;
    background-image: none !important;
}

.noBorder {
    border-width: 0px !important;
}

.w100 {
    width: 100%;
}

.w333 {
    width: 33.3%;
}

.valign-top {
    vertical-align: top;
}

.td-center {
    text-align: center;
}

.w1 {
    width: 1%;
}

.ajax-loading {
    width: 64px;
    height: 64px;
    position: fixed;
    right: 10px;
    bottom: 10px;
}

.ajax-loading-img {
    width: 64px;
    height: 64px;
}